<div class="hero">
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Teach a Course</h3>
    <br />
    Use your expertise in a subject on Flixter to reach students across the globe. All you have to do is upload the video! 

  </div>

  <div class="col-sm-4">
    <h3>Get Paid</h3>
    <br />
    Teachers have the option of charging for their classes through Stripe secure payments. 
  </div>

  <div class="col-sm-4">
    <h3>Enroll in a Course</h3>
    <br />
    View free and premium videos to broaden your horizons in cooking, programming, philosophy, and more!



  </div>


</div>